@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
:root{
    --clr-primary: #1ce783;
    --clr-gray: #ccc;
    --clr-white: #fff;
    --black-5: #272c34;
    --black: #0b0c0f;
    --gray-11: #272c34;
    --global-nav-item-background--hover: #323843;
    --black-1: #16181D;
    --gray-2: #BEC0C2;
    --bg-table: #272c34;
    --gray-3: #535354;
    --bg-footer: rgb(232, 234, 237);
    --clr-footer: #586174;
    --clr-footer-divider: #d9dce2;
    --clr-btn-modal: #6b7790;
    --clr-btn-modal-submit: #828282;
    --clr-modal-link: #176dde;
    --gray-8: #505058;
    --ff-primary: 'Rubik', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: var(--ff-primary);
    overflow-x: hidden;
}
/****************HEADER**************/
#header{
    background-image: linear-gradient(0deg, transparent 60%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0.4) 100%), url('./img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}
#header:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 18rem;
    z-index: 3;
    background-image: linear-gradient(to right, #43434308 50%, #0000004d 50%);
    z-index: -1;
}
#header svg path{
    stroke: var(--clr-primary);
    fill: var(--clr-primary);
}
.nav__menu{
    display: flex;
    justify-content: space-between;
    padding: 4rem;
}
#header nav ul li .btn-login{
    background: none;
    border: none;
    font-size: 1.4rem;
    color: #f3f3f3;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 14px;
    transition: all ease-in-out .2s;
    z-index: 2;
    cursor: pointer;
}
#header nav ul li .btn-login:hover{
    background-color: var(--global-nav-item-background--hover);
    border-radius: 8px;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    padding-top: 70px;
    max-width: 670px;
    margin: 0 auto;
}
.header-content h4{
    color: var(--clr-primary);
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;
}
.header-content .logos{
    width: 90%;
    margin: 2rem 0;
}
.header-content p{
    font-size: 24px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.header-content .btn-hero{
    background-color: var(--clr-primary);
    width: 100%;
    text-align: center;
    padding: 16px 0;
    text-transform: uppercase;
    color: #000;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1;
    font-size: 1.4rem;
}
.header-content span{
    font-size: 10px;
    color: #777;
}
.header-content span a{
    color: #fff;
    text-decoration: underline;
    color: #777;
    font-weight: bold;
}
.btn-cta{
    font-size: 16px;
    color: var(--clr-white);
    text-decoration: underline;
}
/****************PRODUTOS**************/
#produtos{
    width: 100%;
    height: 100%;
    background-color: var(--black);
    padding: 4rem;

}
.produtos__subtitle{
    margin-top: 7rem;
    font-size: 1.2rem;
    color: var(--clr-primary);
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
}
.produtos__titulo{
    color: var(--clr-white);
    text-align: center;
    font-size: 4.8rem;
    margin: 1.6rem 0 2.4rem 0;
}
.produtos__description{
    text-align: center;
    color: var(--clr-white);
    max-width: 78rem;
    margin: 0 auto;
}
.produtos-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin: 3.2rem 0;
}
.produto-card{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
}
.produto-card img{
    width: 100%;
}
.produto-container{
    position: absolute;
    top: 3.2rem;
    left: 1.6rem;
    color: #fff;
    text-align: left;
    width: 100%;
}
.produto-container h6{
    margin-bottom: .8rem;
    font-weight: 500;
    font-size: 1.4rem;
}
.produto-container h3{
    font-weight: 700;
    font-size: 1.6rem;
}
.produto-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
    transition: all ease-in-out .2s;
}
.produto-overlay:hover{
    background-color: transparent;
}
/****************VANTAGENS**************/
#vantagens{
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    text-align: center;
    padding: 4rem;
}
.vantagens__subtitle{
    padding-top: 14rem;
    color: var(--clr-primary);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
}
.vantagens__titulo{
    font-size: 4.8rem;
    margin: 1.6rem 0;
    color: var(--clr-white);
}
.vantagens__description{
    color: #fff;
    max-width: 70rem;
    margin: 1.6rem auto 3.2rem auto;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
}

.vantagens__restriction{
    color: var(--clr-gray);
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
}
.btn__channels-area{
    color: var(--clr-white);
    text-transform: uppercase;
    text-decoration: underline;
    display: block;
    margin: 3.2rem 0;
    font-weight: bold;
}
.vantagens__btn{
    background: none;
    border: none;
    font-size: 2.4rem;
    cursor: pointer;
    animation: btn-animation 1s ease-in-out infinite;
}
.vantagens__additionallink{
    color: var(--clr-gray);
    text-decoration: underline;
}
.vantagens__btn a{
    color: var(--clr-white);
}
@keyframes btn-animation {
    to{
        margin-top: 0;
    } 
    from{
        margin-top: 1rem;
    }
}
/****************CATEGORIAS**************/
#tab__container{
    width: 100vw;
    height: 100vh;
    background-image: url('./img/live-sports.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16rem 18rem;
    transition: all ease-in-out .4s;
}
.tab__nav{
    margin-bottom: 3.2rem;
}
.tab__link{
    text-transform: uppercase;
    color: var(--clr-white);
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 2.4rem;
    position: relative;
    transition: all ease-in-out .4s;
}
.tab__link::after{
    content: "";
    width: 0%;
    height: 4px;
    background-color: var(--clr-white);
    position: absolute;
    bottom: -1.6rem;
    left: 0;
    transition: .4s;
}
.tab__link:hover::after,
.tab__link.active::after{
    width: 100%;
}
.tab__content h3{
    font-size: 4.8rem;
    color: var(--clr-white);
    margin-bottom: 2.4rem;
    transition: all ease-in-out .4s;
}
.tab__content p{
    color: var(--clr-white);
    max-width: 50rem;
    transition: all ease-in-out .4s;
}
.tab__content{
    margin: 1.6rem 0;    
}
.tab__content-logos{
    margin: 1.6rem 0;
    display: flex;
    align-items: center;
    gap: 2.4rem;
}
.tab__content-logos .logo{
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out .4s;
}
.tab__content-logos .logo img{
    width: 4.8rem;
}
#tab__container span{
    display: block;
    max-width: 55rem;
    font-size: 1.2rem;
    color: #ccc;
}
#categorias span a{
    color: #ccc;
    text-decoration: underline;
}
/****************TABLE PRICE**************/
#plans{
    width: 100vw;
    height: 100%;
    background-color: var(--black);
    padding: 4rem 0;
}
.plans-container{
    max-width: 105rem;
    height: 100%;
    margin: 0 auto;
    padding-top: 4rem;
    color: var(--clr-white); 
}
.plans__title{
    font-size: 4.8rem;
}
.plans__description{
    font-size: 1.8rem;
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
}
.plans-container h2, .plans-container p{
    text-align: center;
}
.plans-container p {
    margin-top: 2rem;
}
.plans-container p span{
    font-weight: bold;
}
/*SWITCH*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray-11);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--clr-primary);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
border-radius: 50%;
}
.table-container{
    padding-top: 4rem;
    height: 100%;
}
.header-table__container{
    border-top: 1px solid var(--gray-3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    place-items: center;
    position: sticky;
    top: 0;
    background-color: var(--black);
}
.header-table__base-plan{
    display: flex;
    flex-direction: column;
}
.header-table--toggle-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.6rem;
}
.header-table__base-plan{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    gap: 2.4rem;
}
.header-table__base-plan span{
    text-transform: uppercase;
}
.header-table__bundle-plan h4{
    text-transform: uppercase;
    font-size: 1.4rem;
}
.thirty-free{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 0;
}
.thirty-free-tag-most{
    padding: 1.1rem 2.7rem;
    background-color: var(--clr-primary);
    font-size: .9rem;
    color: var(--black-1);
    border-radius: 10rem;
    text-transform: uppercase;
    font-weight: 600;
}
.thirty-free__title{
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--gray-2);
    margin-top: 1.6rem;
}
.table__button{
    background-color: #fff;
    border: none;
    padding: 1.6rem 0;
    width: 28.6rem;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 1.5;
    cursor: pointer;
}
.thirty-free__noads{
    background-color: var(--bg-table);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 1.6rem .8rem;
}
.table-content{
    width: 100%;
    height: 100%;
}
.table-content__item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid var(--gray-3);
    padding: 1.6rem 0;

}
.table-content__col1{
    font-size: 1.4rem;
}
.table-content__col{
    display: flex;
    justify-content: center;
}
.table-content__footer{
    font-size: 1rem;
}
.table-content__footer{
    border-top: 1px solid var(--gray-3);
    padding-top: 1.6rem;
}
.button__addons{
    border-top: 1px solid var(--gray-3);
    border-bottom: 1px solid var(--gray-3);
    display: block;
    text-align: center;
    padding: 1.6rem 0;
    margin-top: 3.2rem;
    color: #fff;
}
/********footer**********/
#footer{
    width: 100%;
    height: 100%;
    background-color: var(--bg-footer);
    padding: 2rem 8rem;
}
.footer__container{
    max-width: 106.9rem;
    margin: 0 auto;
}
.footer__titles{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.footer__title-expand{
    grid-column: 1 / 5;
}
.footer__title, .footer__title-expand{
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--black-5);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: .8rem;
}
.footer__lists{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.footer__lists ul li{
    margin-bottom: .8rem;
}
.footer__lists ul li a{
    color: var(--clr-footer);
    font-size: 14px;
}
.divider{
    border: 1px solid var(--clr-footer-divider);
    margin: 2.4rem 0;
}
.social-media ul{
    display: flex;
    align-items: center;
    gap: 2.8rem;
}
.footer__copyright{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    gap: .8rem;
}
.footer__copyright span,.footer__copyright a{
    font-size: 1.2rem;
    color: var(--clr-footer);
    margin-right: 2rem;
}
/****MODALS***/
/****MODAL LOGIN***/
.modal-login{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    transition: all ease-in-out .5s;
    visibility: hidden;
    opacity: 0;
}
.modal-login.active{
    visibility: visible;
    opacity: 1;
}
.modal-login__container{
    width: 40vw;
    height: 80vh;
    background-color: var(--clr-white);
    margin: 10vh auto;
    position: relative;
    padding: 4rem;
}
.modal-login__close{
    background: none;
    border: none;
    color: var(--clr-btn-modal);
    font-size: 2rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
}
.modal-login__title{
    font-size: 2.4rem;
    color: var(--black-5);
    margin-bottom: 1.6rem;
}
.modal-login__container form{
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
}
.modal-login__container form label{
    display: block;
    text-transform: uppercase;
    color: var(--clr-btn-modal);
    margin-bottom: .4rem;
}
.modal-login__container form input{
    height: 4.8rem;
    outline: none;
}
.modal-login__container p {
    text-align: center;
}
.modal-login__container p a{
    color: var(--clr-modal-link);
}
.modal-login__forgotpass{
    margin: 2.4rem 0;
    color: var(--clr-modal-link);
}
.modal-login__btnsubmit{
    height: 4.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    background-color: var(--clr-btn-modal-submit);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all ease-in-out .2s;
}
.modal-login__btnsubmit:hover{
    opacity: .9;
}
/****MODAL INCLUDED***/
.modal-included{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    transition: all ease-in-out .5s;
    visibility: hidden;
    opacity: 0;
}
.modal-included.active{
    visibility: visible;
    opacity: 1;
}
.modal-included__container{
    width: 65vw;
    height: 65vh;
    background-color: var(--clr-white);
    margin: 16vh auto;
    position: relative;
    padding: 4rem;
}
.modal-included__title{
    font-size: 1.6rem;
}
.modal-included__close{
    background: none;
    border: none;
    color: var(--clr-btn-modal);
    font-size: 2rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    cursor: pointer;
}
.modal-included__title{
    margin-bottom: 2.4rem;
}
.modal-included__container ul li{
    margin-bottom: 2.4rem;
}
/****MODAL CATEGORIES***/
.modal-categories{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    transition: all ease-in-out .5s;
    visibility: hidden;
    opacity: 0;
    overflow: scroll;
}

.modal-categories.active{
    visibility: visible;
    opacity: 1;
}
.modal-categories__container{
    width: 80vw;
    height: 100%;
    background-color: var(--black);
    background-color: rgba(0, 0, 0, .3);
    margin: 16vh auto;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.modal-categories__subtitle{
    width: 100%;
    color: var(--clr-white);
    text-align: center;
    border-bottom: 1px solid var(--clr-white);
    padding: 1.6rem 0;
    z-index: 100;
}
.modal-categories-bg img{
    width: 100%;
    height: 100%;           
    object-fit: contain;
    z-index: -10;
}
.modal-categories-bg{
    width: 100%;
    height: 100%;           
    object-fit: contain;
    z-index: -10;
}
.modal-categories__close{
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: none;
    border: none;
    color: var(--clr-primary);
    font-size: 4rem;
    font-weight: bold;
}
.modal-categories__title{
    font-size: 4.8rem;
    color: var(--clr-white);
    margin: 20rem 0 2.4rem 4rem;
}
.modal-categories__description{
    color: var(--clr-white);
    max-width: 50rem;
    margin-left: 4rem;
}
/****MODAL CHANNELS***/
.modal-channels{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    transition: all ease-in-out .5s;
    visibility: hidden;
    opacity: 0;
}
.modal-channels.active{
    visibility: visible;
    opacity: 1;
}
.modal-channels__container{
    width: 70vw;
    height: 80vh;
    background-color: var(--clr-white);
    margin: 12vh auto;
    position: relative;
    padding: 4rem;
}
.modal-channels__title{
    font-size: 3.2rem;
    font-weight: bold;
}
.modal-channels__close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--gray-8);
    font-size: 2rem;
}
.modal-channels__description{
    color: var(--gray-8);
    margin: 1.6rem 0;
}
.modal-channels__zip-code{
    display: flex;
    margin: 1.6rem 0;
}
.modal-channels__zip-code input{
    height: 4.2rem;
    width: 20rem;
    outline: none;
    padding-left: .8rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid var(--clr-gray);
}
.modal-channels__zip-code input::placeholder{
    font-size: 1.6rem;
}
.modal-channels__btn-submit{
    padding: 0 3.2rem;
    background-color: var(--black);
    font-size: 1.4rem;
    color: var(--clr-white);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all ease-in-out .3s;
}
.modal-channels__btn-submit:hover{
    opacity: .9;
}
.modal-channels__note{
    max-width: 65rem;
    font-size: 1.2rem;
}
/****MODAL ADDITIONAL***/
.modal-additional{
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    transition: all ease-in-out .5s;
    visibility: hidden;
    opacity: 0;
}
.modal-additional.active{
    visibility: visible;
    opacity: 1;
}
.modal-additional__container{
    width: 70vw;
    height: 80vh;
    background-color: var(--clr-white);
    margin: 12vh auto;
    position: relative;
    padding: 4rem;
}
.modal-additional__close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--gray-8);
    font-size: 2rem;
}
.modal-additional__paragraphy{
    margin: 1.6rem 0;
}
.logo__img{
    width: 100%;
    height: 200px;
}